body{
    height: 2000px;
}

/*绝对定位：相对于浏览器*/
div:nth-of-type(1){
    width: 100px;
    height: 100px;
    background: red;
    position: absolute;
    right: 0;
    bottom: 0;
}

/*固定定位：fixed*/
div:nth-of-type(2){
    width: 50px;
    height: 50px;
    background: yellow;
    position: fixed;
    right: 0;
    bottom: 0;
}